.container{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 16px;
  padding: 36px;
  //place-items: center;
  //height: calc(100vh - 64px);

  .box{
    padding: 20px;
    border-radius: 6px;
    form{
      div:nth-child(1){
        font-size: 22px;
        mat-form-field{
          width: 100%;
        }
      }

      div:nth-child(2) {
        mat-radio-group{
          display: grid;
          grid-gap: 8px;
          mat-radio-button{
            span{
              white-space: unset;
            }
          }
        }
      }

      div:nth-child(3){
        margin-top: 16px;
        display: flex;
        justify-content: center;
        button{
          height: 40px;
          font-size: 20px;
        }
      }
      div:nth-child(4) {

      }
    }
  }

  //.box:nth-child(1){
  //  grid-template: '';
  //}
  //.box:nth-child(2){
  //  grid-template: '';
  //}
  .box:nth-child(3){
    grid-column: span 2;
  }
}
