<div class="container">

  <div class="box"
       [class.mat-elevation-z2]="true">
    <div class="title">Cadastre um texto:</div>
    <form [formGroup]="vocabularyForm"
          name="templateForm"
          novalidate
          autocomplete="off"
          (ngSubmit)="handleSubmitText()">

      <div>
        <mat-form-field appearance="outline"
                        floatLabel="auto">
        <textarea matInput
                  formControlName="text"
                  placeholder="Digite seu texto"></textarea>
        </mat-form-field>
      </div>

      <div>
        <button type="submit"
                mat-raised-button
                color="primary">
          Adicionar
        </button>
      </div>
    </form>
  </div>

  <div class="box"
       [class.mat-elevation-z2]="true">
    Logs
  </div>

  <div class="box"
       [class.mat-elevation-z2]="true">
    <div class="title">Selecione um texto:</div>
    <div class="list-texts"
         [@animateStagger]="{value:'200'}">
      <div *ngFor="let vocabulary of vocabularies?.rows; let i = index"
           [@animate]="{value:'*',params:{y:'100%'}}"
           [ngClass]="{'select': selectId === vocabulary?.id}"
           (click)="handleSelect(vocabulary)">
        {{ vocabulary?.text }}
      </div>
    </div>
  </div>

  <div class="box"
       [class.mat-elevation-z2]="true">
    <div class="title">Selecione uma opção:</div>
    <form [formGroup]="vocabularyGenForm"
          name="templateForm"
          novalidate
          autocomplete="off"
          (ngSubmit)="handleSelectGen(selectId)">

      <div>
        <mat-radio-group formControlName="options"
                         color="primary">
          <mat-radio-button [value]="0">
            O vocabulário - palavras isoladas.
          </mat-radio-button>
          <mat-radio-button [value]="1">
            O vocabulário - 2 palavras em sequência.
          </mat-radio-button>
          <mat-radio-button [value]="2">
            Vetores de palavras - vocabulário palavras isoladas.
          </mat-radio-button>
          <mat-radio-button [value]="3">
            Vetores de palavras - vocabulário formado por
            grupos de 2 palavras em sequência.
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div>
        <button type="submit"
                mat-raised-button
                color="primary">
          Resultado
        </button>
      </div>
    </form>
  </div>

  <div class="box"
       [class.mat-elevation-z2]="true">
    <div class="title">Resposta:</div>
    <div class="response">
      <code>
        {{ respost }}
      </code>
    </div>
  </div>
</div>
